.container {
    background: #69dbc4;
    border-radius: 10px;
    padding: 25px 30px;
    width: 380px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
    margin-bottom: 15px;
}
.title {
    color: #ffffff;
}